---
import MainLayout from "@/layouts/MainLayout.astro";
import { siteConfig } from "@/config/site";
---

<MainLayout title="About">
  <section class="h-full space-y-5">
    <section
      class="container relative mb-28 mt-40 max-w-screen-md sm:mt-20 lg:mt-28"
    >
      <div class="flex flex-col justify-between">
        <p class="mb-12 text-center text-xl">
          llm-ui was built by <a
            class="link"
            href="https://linkedin.com/in/richardgill3">Richard Gill</a
          >.
          <br />
          <br />If you have any questions or just want to say hi, you can reach
          me on <a class="link" href={siteConfig.links.discord}>discord</a> or via
          email <a class="link" href="mailto:richard@llm-ui.com"
            >richard@llm-ui.com</a
          >.
        </p>
      </div>
    </section>
  </section>
</MainLayout>
