---
import MainLayout from "@/layouts/MainLayout.astro";
import { siteConfig } from "@/config/site";
---

<MainLayout title="About">
  <section class="h-full space-y-5">
    <section
      class="container relative mb-28 mt-40 max-w-screen-md sm:mt-20 lg:mt-28"
    >
      <div class="flex flex-col justify-between">
        <p class="mb-12 text-center text-xl">
          llm-ui was built by <a
            class="link"
            href="https://linkedin.com/in/richardgill3">Richard Gill</a
          >. If you have any questions or just want to chat
          <br />
          <br />
          You can reach me via email <a
            class="link"
            href="mailto:richard@rgill.co.uk">richard@rgill.co.uk</a
          > or <a class="link" href={siteConfig.links.discord}>discord</a>.
        </p>
      </div>
    </section>
  </section>
</MainLayout>
