---
import PresentationLayout from "@/layouts/PresentationLayout.astro";
---

<PresentationLayout title="LLM UI">
  <h1 class="font-heading text-7xl">Building better language model UIs</h1>
  <h3 class="pt-20 text-center text-2xl">Richard Gill</h3>
</PresentationLayout>
