---
import Slide from "@/components/presentation/Slide.astro";
import { AvatarComponent } from "@/components/ui/custom/AvatarComponent";
---

<Slide>
  <h1 class="font-heading text-7xl">Improving the ChatGPT UI</h1>
  <div class="flex flex-row items-center gap-4 pt-20">
    <AvatarComponent
      client:load
      src="https://github.com/richardgill.png"
      alt="Richard Gill"
      fallbackText="RG"
      className="size-18"
    />
    <span class="text-5xl">Richard Gill</span>
  </div>
</Slide>
