---
import PresentationLayout from "@/layouts/PresentationLayout.astro";
---

<PresentationLayout title="LLM UI">
  <h1 class="font-heading text-5xl">How it works:</h1>
  <h1 class="font-heading mt-10 text-5xl">"Throttle functions"</h1>
</PresentationLayout>
