---
import Slide from "@/components/presentation/Slide.astro";
---

<Slide>
  <h1 class="font-heading text-7xl">Problem 3:</h1>
  <h1 class="font-heading mt-10 text-7xl">Markdown syntax</h1>
</Slide>
