---
import { CodeBlock } from "@/components/ui/custom/CodeBlock";
import PresentationLayout from "@/layouts/PresentationLayout.astro";

const code = `\n[link](https://llm-ui.com) keeps going\n\n`;
---

<PresentationLayout title="LLM UI">
  <CodeBlock
    className="w-[900px] text-3xl"
    code={code}
    codeToHtmlOptions={{ lang: "plain" }}
  />
  <div class="min-h-[268px]"></div>
</PresentationLayout>
