---
import Slide from "@/components/presentation/Slide.astro";
---

<Slide>
  <h1 class="font-heading text-7xl">LLMs are new</h1>
  <h3 class="font-heading pt-20 text-center text-5xl">They needed a new UI</h3>
</Slide>
