---
import Slide from "@/components/presentation/Slide.astro";
---

<Slide title="LLM UI">
  <h1 class="font-heading text-5xl">
    Developers want custom components for their applications
  </h1>
</Slide>
