---
import Slide from "@/components/presentation/Slide.astro";
import { AvatarComponent } from "@/components/ui/custom/AvatarComponent";
---

<Slide>
  <h1 class="font-heading text-7xl">llm-ui.com</h1>
  <h1 class="mt-8 text-3xl">richard@llm-ui.com</h1>
  <div class="flex flex-row items-center gap-4 pt-10">
    <AvatarComponent
      client:load
      src="https://github.com/richardgill.png"
      alt="Richard Gill"
      fallbackText="RG"
      className="size-12"
    />
    <span class="text-2xl">Richard Gill</span>
  </div>
</Slide>
