---
import PresentationLayout from "@/layouts/PresentationLayout.astro";
import BuiltWith from "@/components/presentation/BuiltWith.astro";
---

<PresentationLayout title="LLM UI">
  <h1 class="font-heading text-7xl">Slide 3</h1>
  <BuiltWith />
</PresentationLayout>
