---
export const prerender = false;

import { Button } from "@/components/ui/Button";
import { Input } from "@/components/ui/Input";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { createForm } from "simple:form";
import z from "zod";
let error: boolean = false;

const newsletterForm = createForm({
  email: z.string().email(),
});

const res = await Astro.locals.form.getData(newsletterForm);

if (res?.data) {
  const response = await fetch(Astro.url.origin + "/api/waitlist", {
    method: "POST",
    headers: {
      Accept: "application.json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify(res.data),
  });
  const data = await response.json();

  if (data.message === "success") {
    Astro.cookies.set("sub-newsletter", "true");
  } else {
    error = true;
  }
}

const cookie = Astro.cookies.get("sub-newsletter")?.boolean();
if (cookie) {
  Astro.cookies.delete("sub-newsletter");
}
---

<div class="relative flex w-full items-center justify-center">
  <div class="bg-background rounded-xl border px-4 py-5 sm:p-6">
    <div class="flex w-full max-w-sm flex-col gap-y-5">
      <div class="space-y-3">
        <Icon name="lucide:mail" class="size-10" />
        <h1 class="font-heading text-2xl tracking-wide">
          Subscribe for email updates
        </h1>
        <p class="text-muted-foreground text-sm">Keep up to date with llm-ui</p>
      </div>

      <form
        method="POST"
        class="flex w-full flex-col items-start gap-y-2"
        transition:name="form-newsletter"
        transition:animate="none"
      >
        <label
          for="email"
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Email
        </label>
        <Input
          id="email"
          autoComplete="off"
          placeholder="janedoe@example.com"
          {...newsletterForm.inputProps.email}
        />

        {
          cookie || res?.fieldErrors?.email || error ? (
            <div
              class={cn(
                "flex w-full items-center gap-x-2.5 overflow-hidden rounded-lg border p-3 text-sm",
                error || res?.fieldErrors?.email
                  ? "border-[#fdd8d8] bg-[#ff6166]/10 text-[#ff6166] dark:border-[#671e21]"
                  : null,
                cookie
                  ? "border-[#cce6ff] bg-[#52A8FF]/10 text-[#52A8FF] dark:border-[#0d3868]"
                  : null,
              )}
            >
              <Icon name="lucide:info" class="size-5" />
              <p>
                {cookie ? "You are subscribed!" : null}
                {error ? "Something wrong! Try again please." : null}
                {res?.fieldErrors?.email ? res?.fieldErrors?.email : null}
              </p>
            </div>
          ) : null
        }

        <Button type="submit" className="mt-4 w-full">Submit</Button>
      </form>
    </div>
  </div>
</div>
